<h1>Listing spring_infos</h1>

<table class="table-bordered">
  <thead>
    <tr>
      <th>地域</th>
      <th>温泉名</th>
      <th>泉質</th>
      <th>泉質（詳）</th>
      <th>泉質（旧）</th>
      <th>泉温</th>
      <th>pH</th>
      <th>浸透圧</th>
      <th>湧出量</th>
      <th>住所</th>
      <th>交通</th>
      <th>メタケイ酸</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spring_infos.each do |spring_info| %>
      <tr>
        <td><%= spring_info.area_str %></td>
        <td><%= spring_info.name %></td>
        <td><%= spring_info.category_str %></td>
        <td><%= spring_info.quality_name %></td>
        <td><%= spring_info.old_quality_name %></td>
        <td><%= spring_info.temperature %></td>
        <td><%= spring_info.pH %></td>
        <td><%= spring_info.osmotic_str %></td>
        <td><%= spring_info.discharge %></td>
        <td><%= spring_info.place %></td>
        <td><%= spring_info.transportation %></td>
        <td><%= spring_info.metasilicic_acid %></td>
        <td><%= spring_info.remarks %></td>
        <td><%= link_to 'Edit', edit_spring_info_path(spring_info) %></td>
        <td><%= link_to 'Del', spring_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spring info', new_spring_info_path %>
